#map {
  position:initial;
  top:70px;
  bottom:0;
  width:60%;
  height: 90vh;
}

#map-show {
  position:initial;
  top:70px;
  bottom:0;
  width: 50%;
  height: 90vh;
}

.link-to-country {
  display: none;
}
